/* #region COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", system-ui;
}

img {
    max-width: 100%;
}

header {
    height: 80px;

}

header {
    padding: 0px 30px;
}

/* #endregion COMMON */

/* #region FLEX */
.d-flex {
    display: flex;
}


.ai-center {
    align-items: center;
}

.ai-start {
    align-items: start;
}

.ai-end {
    align-items: end;
}

.s-between {
    justify-content: space-between;
}

.s-around {
    justify-content: space-around;
}

.jc-end {
    justify-content: end;
}

.jc-start {
    justify-content: start;
}

.jc-center {
    justify-content: center;
}

/* #endregion FLEX*/

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}



/* #region UTILITY */


.left_menu {
    width: 40%;

    &>a {
        padding-left: 30px;
        color: black;
        text-decoration: none;
    }
}

.right_menu {
    width: 40%;


    &>a {
        padding-right: 30px;
        text-decoration: none;
        color: black;
    }

    #start {
        background-color: #0061ff;
        padding: 0.5rem 1rem;
        color: white;

    }
}

.container {
    width: 60%;
    margin: auto;
}


.row {
    width: 100%;
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

/* #endregion UTILITY */



/* #region DEBUG */
.debug * {
    border: 1px dashed;
}

.debug header {
    background-color: blue;

}

.debug .left_menu {
    background-color: rgb(118, 165, 42);
    height: 80%;
    width: 39%;

}


.debug .right_menu {
    background-color: rgb(118, 165, 42);
    height: 80%;
    width: 39%;

}





.debug .jumbotron {
    background-color: aquamarine;
    width: 100%;
    height: 600px;

}


.debug .container {
    height: 100%;
    background-color: brown;
}

.debug .container-sm {
    width: 40%;
    background-color: brown;

    margin: auto;

}

.debug .row {
    height: 60%;
    background-color: chartreuse;
    width: ;
}

.debug .col-4 {
    background-color: crimson;
    height: 220px;
    margin: 10px;
}

.debug .col-8 {
    background-color: rgb(200, 220, 20);
    height: 95%;

}

.debug #plans {
    background-color: rgb(208, 127, 255);
    width: 100%;
    height: 600px;
    padding-top: 180px;
}

/* #endregion DEBUG*/

#start:hover {
    background-color: #4083f0;
    ;
}

h1 {
    font-size: 80px;
    padding-bottom: 25px;
    padding-top: 70px;
}

.col-4 {
    line-height: 1.5rem;
}

.col-8 {
    margin-bottom: -75px;

}

.jumbotron {
    background-color: #b4d0e7;
}

#trial {
    background-color: #0061ff;
    color: white;
    top: 500px;
    margin-top: 20px;
    padding: 10px 15px;
    display: inline-block;
}

#trial:hover {
    background-color: #4083f0;
}

#dismise {
    margin-top: 30px;
}