/* #region COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", system-ui;
}

img {
    max-width: 100%;
}

header {
    height: 80px;

}

header {
    padding: 0px 30px;
}

/* #endregion COMMON */

/* #region FLEX */
.d-flex {
    display: flex;
}


.ai-center {
    align-items: center;
}

.ai-start {
    align-items: start;
}

.ai-end {
    align-items: end;
}

.s-between {
    justify-content: space-between;
}

.s-around {
    justify-content: space-around;
}

.jc-end {
    justify-content: end;
}

.jc-start {
    justify-content: start;
}

.jc-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

/* #endregion FLEX*/

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}



/* #region UTILITY */


.left_menu {
    width: 40%;

    &>a {
        padding-left: 30px;
        color: black;
        text-decoration: none;
    }
}

.right_menu {
    width: 40%;


    &>a {
        padding-right: 30px;
        text-decoration: none;
        color: black;
    }

    #start {
        background-color: #0061ff;
        padding: 0.5rem 1rem;
        color: white;

    }
}

.container {
    width: 60%;
    margin: auto;
}

.container-sm {
    width: 50%;
    margin: auto;
}


.col-4 {
    width: calc((100% / 12) * 4);
    line-height: 1.5rem;
}

.col-8 {
    width: calc((100% / 12) * 8);
    margin-bottom: -75px;
}

.col-12 {
    width: 120%;
    margin: 50px -10px;

}

.row {
    width: 100%;
}

/* #endregion UTILITY */



/* #region DEBUG */
.debug * {
    border: 1px dashed;
}

.debug header {
    background-color: blue;

}

.debug .left_menu {
    background-color: rgb(118, 165, 42);
    height: 80%;
    width: 39%;

}


.debug .right_menu {
    background-color: rgb(118, 165, 42);
    height: 80%;
    width: 39%;

}





.debug .jumbotron {
    background-color: aquamarine;
    width: 100%;
    height: 600px;

}


.debug .container {
    height: 100%;
    background-color: brown;
}



.debug .row {
    height: 60%;
    background-color: chartreuse;
    width: ;
}

.debug .col-4 {
    background-color: crimson;

    margin: 10px;
}

.debug .col-8 {
    background-color: rgb(200, 220, 20);
    height: 95%;

}


.debug .col-12 {
    background-color: darkgrey;
    height: 200px;

}


.debug #plans {
    background-color: rgb(208, 127, 255);
    width: 100%;

    
}

.debug .container-sm {

    background-color: brown;
}

.debug #plans .col-4 {
    background-color: rgb(200, 220, 20);
}

.debug #plans .row {
    height: 60%;
    background-color: rgb(255, 0, 170);

}

/* #endregion DEBUG*/

#start:hover {
    background-color: #4083f0;
    ;
}

h1 {
    font-size: 80px;
    padding-bottom: 25px;
    padding-top: 70px;
}

.jumbotron {
    background-color: #b4d0e7;
}

#trial,
.trials30 {
    background-color: #0061ff;
    color: white;
    top: 500px;
    margin-top: 20px;
    padding: 10px 15px;
    display: inline-block;
}

#trial:hover {
    background-color: #4083f0;
}

#dismise {
    margin-top: 30px;
}

h2 {
    padding-bottom: 5rem;
    ;
}

.offer {
    padding: 20px;
    border: 1px solid darkgray;
    height: 1000px;
    
}

.offer-large {
    padding: 20px;
    border: 1px solid darkgray;
 

    
    
}

.card {
    text-align: center;
    padding: 10px;
    border: 1px solid darkgray;
    
}

#plans .col-4 {
    margin: 5px -10px;
}

#plans{
    padding-top: 180px;
}

.trials30{
    margin: 10px 30px;
}

.buy{
    margin-top: 20px;
    margin-bottom: 90px;
}

.cadence {
    margin-bottom: 70px;
    margin-top: 20px;
    color: darkgray
}

.price{
    margin-top: 30px;
    font-weight: 700;
}

.space{
    margin: 20px 0;
}

.points-title{
    margin: 20px 0;
}
.fa-check{
    color: #0061ff;
}

.function{
    margin-bottom: 5rem;
}

.point{
    margin: 20px 0;
}

.office{
    
    background-color: #0061ff;
    color: white;
    padding: 10px 15px;
    float: right; 
}

.team{
    width: 100%;
    
}

.team-des{
    margin-top: 30px;
    width: 50%;
}