/* #region COMMON */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", system-ui;
    list-style: none;
}

img {
    max-width: 100%;
}

header {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 10000;


}

.app_header {
    height: 80px;
    box-shadow: 0px 0px 10px 0px rgb(61, 61, 61);
    padding: 0 20px;

}

h2 {
    padding-bottom: 5rem;
}

footer * {
    text-decoration: none;
    color: white;


}

#app-footer {
    line-height: 2.5rem;
    height: 500px;
    background-color: #000000;
    color: white;
    font-size: 14px;
    padding-top: 5rem;


    h4 {
        font-size: 20px;
    }
}

/* #endregion COMMON */

/* #region FLEX */
.d-flex {
    display: flex;
}


.ai-center {
    align-items: center;
}

.ai-start {
    align-items: start;
}

.ai-end {
    align-items: end;
}

.s-between {
    justify-content: space-between;
}

.s-around {
    justify-content: space-around;
}

.jc-end {
    justify-content: end;
}

.jc-start {
    justify-content: start;
}

.jc-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

/* #endregion FLEX*/

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}



/* #region UTILITY */


.left_menu {
    width: 40%;

    &>a {
        padding-left: 30px;
        color: black;
        text-decoration: none;
    }
}

.right_menu {
    width: 40%;


    &>a {
        padding-right: 30px;
        text-decoration: none;
        color: black;
    }

    #start {
        padding: 0.5rem 1rem;
        color: white;

    }
}

.container {
    width: 60%;
    margin: auto;

    .client {
        margin-bottom: -75px;
    }
}


.container-sm {
    width: 50%;
    margin: auto;
}


.col-4 {
    width: calc((100% / 12) * 4);
    line-height: 1.5rem;
}

.col-2 {
    width: calc((100% / 12) * 2);

}

.col-8 {
    width: calc((100% / 12) * 8);

}

.col-12 {
    width: 120%;
    margin: 50px -10px;

}

.row {
    width: 100%;
}

/* #endregion UTILITY */



/* #region DEBUG */

.debug * {
    border: 1px dashed;
}

/* #endregion DEBUG*/

section {
    margin-bottom: 100px;
}

h2 {
    font-size: 40px;
}

h1 {
    font-size: 80px;
    padding-bottom: 25px;
    padding-top: 70px;
}

.jumbotron {
    background-color: #b4d0e7;
    padding-top: 100px;

}



#trial {
    margin-top: 2rem;

}


.button {
    background-color: #0061ff;
    color: white;
    top: 500px;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
}

.button:hover {
    background-color: #4083f0;
}

#dismise {
    margin-top: 30px;
}



.offer {
    padding: 20px;
    border: 1px solid darkgray;
    height: 1000px;
    line-height: 2rem;


}

.offer-large {
    padding: 20px;
    border: 1px solid darkgray;




}

.card {
    text-align: center;
    padding: 10px;
    border: 1px solid darkgray;

}

#plans .col-4 {
    margin: 5px -10px;
}


.cadence {
    margin-bottom: 70px;
    margin-top: 20px;
    color: darkgray
}

.price {

    font-weight: 700;
}



.points-title {
    margin: 20px 0;
}

.fa-check {
    color: #0061ff;
}



.team {
    width: 100%;

}

.team-des {
    margin-top: 30px;
    width: 50%;
}

.offer {

    &>.button {
        width: 99%;
        text-align: center;
        margin: 20px 0px;
    }

}

.button2 {
    background-color: #f6f8fa;
    color: rgb(10, 10, 10);
    top: 500px;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid darkgray;
    margin: 30px 0;
    text-decoration: none;
}

.button2:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.partner {
    padding: 30px;

    &>h3 {
        padding-bottom: 20px;
    }
}


.buisness {

    .container-sm {


        .row {

            margin: -18px;

            .col-4 {
                padding: 20px;


                h3 {
                    padding: 20px 0;
                }

            }
        }

    }
}


.brands {
    .col-4 {



        img {


            margin: -4px;
            filter: invert(1);
            height: 320px;

            padding: 50px;
            color: white;
        }

        #design {
            background-color: #5d2c64;
            aspect-ratio: 1;
            border-top: 15px solid #381a3b;
            border-bottom: 15px solid #381a3b;
            border-left: 19px solid #381a3b;
            border-right: 19px solid #381a3b;
        }

        #asu {

            background-color: #9df7d4;
            aspect-ratio: 1;

        }

        #uof {
            background-color: #fe6c31;
            padding: 143px 80px;
            aspect-ratio: 1;

        }

        #topps {

            background-color: #01e3e2;
            aspect-ratio: 1;
        }


    }

    #design2 {
        background-color: #0a0a0a;
        filter: invert(1);
        aspect-ratio: 1;
        margin-top: -5px;


    }


    #wbr {
        aspect-ratio: 1;
        background-color: #2affdf;
    }

    #hc {
        aspect-ratio: 1;
        background-color: #4b2f19;
    }

    #lp {
        aspect-ratio: 1;

        background-color: #f2db7e;
    }

    #cc {
        aspect-ratio: 1;
        background-color: #0026cf;
    }
}

.bottom_brands {
    background-color: #b4d0e7;
    height: 400px;
    width: 100%;
    margin-top: -5px;
    z-index: 2;

    .container-sm {
        h2 {
            color: #61082b
        }
    }
}

.questions {

    padding: 20px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}


.answers {
    display: none;
}

#question1:hover {

    #answer1 {
        display: block;
    }

}

#question2:hover {

    #answer2 {
        display: block;
    }

}

#question3:hover {

    #answer3 {
        display: block;
    }

}






@media only screen and (min-width: 320px) and (max-width: 480px) {




    main,
    footer {
        margin: 0;
        text-align: justify;


    }


    .app_header {
        height: 90px;
        font-size: 14px;
        padding: 0;
        justify-content: start;

        #logo {
          
            
            height: 16px;
        }






        .left_menu, .right_menu {

            flex-direction: column;
            align-items:start;
            gap: 5px;

            #start{
                position: absolute;
                top: 25px;
                right: 5px;
            }


        }

        
    }

    .container-sm {
        width: 80%;
        margin: auto;

    }

    h1,
    h2 {
        font-size: 30px;
    }

    .client {
        display: none;
    }

    .card,
    .offer,
    .offer-large {
        width: 100%;
    }

    .col-4,
    .col-12 {
        width: calc((100% / 12) * 12);
        ;
    }




}